# ─── Node ──────────────────────────────────────────────────────────────────────
node_modules/
dist/
*.js.map

# ─── Environment ──────────────────────────────────────────────────────────────
.env
.env.local
.env.*.local

# ─── Playwright ───────────────────────────────────────────────────────────────
test-results/
playwright-report/
allure-results/
allure-report/
/blob-report/
/playwright/.cache/

# ─── Logs ─────────────────────────────────────────────────────────────────────
logs/
*.log
npm-debug.log*

# ─── OS ───────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── IDE ──────────────────────────────────────────────────────────────────────
.vscode/settings.json
.idea/
*.suo
*.user

# ─── Docker ───────────────────────────────────────────────────────────────────
.dockerignore

# ─── TypeScript ───────────────────────────────────────────────────────────────
*.tsbuildinfo
